:root {
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
  line-height: 1.5;
  color-scheme: light;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100vh;
  width: 100%;
  background-color: #f3f5fa;
}
